body {
  background-image: url("assets/Andromeda_Galaxy_560mm_FL.jpg");
  background-size: cover;
  background-color: rgb(0, 25, 54);

  font-family: monospace;
  font-size: 14px;
}

.credit-box a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
.credit-box {
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
}

h1 {
  margin: 2vw;
  font-size: 5vw;
  display: block;
  width: fit-content;
  background-color: black;
  color: white;
  border: dotted white 2px;
}

.content {
  margin: 80px auto;
  width: 622px;
  text-align: center;
  border: dotted white 2px;
}

.links {
  margin: 80px auto 0 auto;
  width: 622px;
  height: 3em;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
  border: dotted white 2px;
}

.links > a {
  flex-grow: 1;
  color: white;
  text-decoration: none;
}

.links > a:first-of-type {
  border-right: dotted white 2px;
  display: block;
}

.description {
  color: white;
  background-color: black;
  border-bottom: dotted white 2px;
}

.title-image {
  display: inline;
  height: min(15vw, 15vh);
  vertical-align: middle;
}
